<div id="wrapper">
  {{> nav}}

  <body>
    <div id="about">
      <h3>Who Am I?</h3>
      <p id="about-me">
        I'm Adam Farmelo; and this is my website. I created this site to share
        with anyone who wants to know more about me. I've had a lot of
        experiences in my short working life, from Welding to Software
        Engineering. Read on to find out more!
      </p>
    </div>

    <h3>
      Education
    </h3>
    <p id="education">
      I've gotten around; first at Pennsylvania College of Technology for a
      Welding Certificate, now I'm finishing up a degree through Arizona State
      University studying Software Engineering. I pursued welding out of high
      school like any other high school kid, I didn't know any better and
      thought my Guidance Counselor knew more than I did about what I wanted
      to do with my life. If you can tell where this is going, I won't bore
      you with the details. To make a long story short I left in 2016, barely
      missing an Associates (by only two classes) and settled for a
      Certificate because I needed to move on. <br /><br />

      I knew I wanted to be an engineer because I loved numbers and had the
      right mindset for it, but wasn't sure what type I should pursue. I
      switched between Mechanical, Aerospace, and Software, and eventually
      settled on Software because I had tried programming and I've always had
      an interest in computers. So in the Fall of 2016 I started with Arizona
      State online and the rest is -as they say- history.
    </p>

    <h3>
      Work History
    </h3>
    <p id="work-history">
      As I've alluded to, I've had a variety of jobs, doing a variety of
      things. Check out some of my jobs below.
      <br /><br />
      Software Intern Snow Plowing Assistant Country Fair Employee Maintenance
      ARG
    </p>

    <h3>
      Hobbies/Interests
    </h3>
    <p id="hobbies">
      Some of my hobbies include:
    </p>
    <ul>
      <li>Reading</li>
      <li>Playing Video Games</li>
      <li>Studying Wealth and what it means to be Rich</li>
      <li>Spending Time Outdoors</li>
    </ul>

    <h3>
      Goals/Dreams
    </h3>
    <p id="goals">
      These days I'm more interested in getting out of the rat race than
      getting in. I've always been somewhat driven by money, understanding the
      necessity in our current society. I've spent a <i>LOT</i> of time
      thinking about how I want to spend my life, and most of the goals that
      I've found are simply unattainable with a traditional 9-5 job. For that
      reason, my main goal right now is to become financially independent.
      This means creating wealth and abandoning the cultural norms of 'work
      too much -> retire too late -> suffer due to high prices and low
      savings'. <br /><br />

      I dream of a society where money is unecessary, and for some people
      that's hard to understand. We've been indoctrinated by a culture that
      revolves around the financial obsession. We all know in our hearts that
      our culture is unsustainable, and the capitalist society creates wealth
      through greed, waste, and exploitation. I believe in a society where all
      people are equal, and there is no need for all of us to work jobs we
      hate for meager pay and bad benefits.
    </p>

    {{> contact-form
      header="Hit Me Up!"
      description="Have something to say? Fill out the form below!"
    }}
  </body>

  {{> footer}}
</div>