<div id='wrapper'>
  {{> nav}}

  <body>
    <h1>Hello World! This is my real estate page.</h1>
  </body>

  {{> contact-form 
    header="Interested in Investing with Me?"
    description="Fill out the form below with your contact information, and I'll get back to you. Thanks!"
  }}

  {{> footer}}
</div>